.load-more-btn {
    width: max-content;
    margin: 20px auto;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding: 12px 25px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 17px;
}