.header {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

@mixin hiddeElement() {
    display: none;
    visibility: hiddeElementn;
}

@mixin showElement($visibility) {
    display: $visibility;
    visibility: visible;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;

    &-logo {
        font-size: 16px;
        font-weight: 500;
        font-family: var(--poppins);
        display: inline-flex;
        grid-gap: 5px;
        align-items: center;
        text-decoration: none;
        width: 130px;
        color: #fff;

        i {
            font-size: 18px;
        }
    }

    &__search {
        display: flex;

        &-input {
            font-family: var(--open);
            font-size: 15px;
            outline: none;
            height: 35px;
            border: 1px solid #fff;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding-inline: 7px;
            width: 250px;
            background: none;
            color: #fff;
        }

        &-btn {
            width: 50px;
            height: 35px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            outline: none;
            border: 1px solid #fff;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-left: none;
            background: none;
            color: #fff;
            font-size: 20px;
        }

        @media screen and (max-width: 1000px) {
            @include hiddeElement();
        }
    }

    &__hamburger {
        @include hiddeElement();
    }

    &__links {
        display: flex;
        grid-gap: 15px;
        list-style: none;

        .nav__search {
            @include hiddeElement();
        }

        &-link {
            font-size: 16px;
            transition: color 0.2s;
            color: #fff;
            font-weight: 500;
            
            &:hover {
                color: var(--primary-color) !important;
            }
        }
    }
}

.header.new-style {
    background-color: #000;
    height: 80px;

    .nav-logo {
        color: var(--primary-color);
    }
}


@media screen and (max-width: 800px) {
    .header {
        height: 65px
    }

    .nav-logo {
        font-size: 17px;
        grid-gap: 7px;
    }

    .nav__hamburger {
        @include showElement(block);
        font-size: 30px;
        height: 30px;
        width: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav__links {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: #48e;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        width: 80vw;
        justify-items: center;
        padding-block: 40px;
        transform: translateX(-103%);
        transition: transform 0.3s ease;

        .nav__search {
            @include showElement(flex);
        }
    }
}